# Build directories
bin/
obj/
output/
build_logs/
publish/
__pycache__/

# IDE directories
.vscode/

# Project-specific directories
_site/
api/
docs/

# File types
*.dat
*.snk
*.log
*.txt
*.pfx
*.pub
*.py
*.sh
*.ps1
*.yml

# Other files
plantuml.jar
