# Build directories
bin/
obj/
output/
build_logs/
publish/

# IDE directories
.vscode/

# Project-specific directories
_site/
api/
docs/

# File types
*.dat
*.snk
*.log
*.txt

# Other files
plantuml.jar